
<section>
    <div class="container">
      <div class="row">
        <!-- <app-product-category></app-product-category> -->
           <div class="col-xs-12 col-sm-8 col-lg-8 col-md-offset-2">
               <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  bg-success text-danger">
                   <h2 class="text-center text-underline">Contact Us</h2></div>
               </div>
                <!-- info -->
                <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center media media-bold">
                    <div class="col-xs-12"><h3 class="media-bold noResult"><b>Welcome To E-Mart </b></h3></div>
                    <div  class="col-md-" style="font-size: 9vw;">
                      <h5>Address:Venkatadri IT Park, HP Avenue, Konnappana, Electronic city, Bengaluru, Karnataka 560069</h5>
                      <h5>Email: hire@emart.com</h5>
                      <h5>Contact: +91 98765 10278 || +91 76589 14244</h5>
                    </div>

                    <div class="col-xs-12 checkout fom">
                      <div class="wrapper">
                        <div class="inner-box">
                            <form  class="">                       
                                 <div class="form-group">
                                  <label>Your name</label>
                                  <input name = "name" [(ngModel)]="name" type="text" class="form-control" id= "name" placeholder="Your name here" maxlength="20">
                                </div>
            
                                <div class="form-group">
                                    <label>Your email</label>
                                    <input name="email" [(ngModel)]="email" type="text" class="form-control" id="email" placeholder="Email here">
                                </div>

                                  <div class="form-group">
                                      <label>Your message</label>
                                      <textarea maxlength="20" name="message" [(ngModel)]="message" class="form-control" id="message"></textarea>
                                 </div> 
                                 <div class="row">
                                     <div class="col-xs-12 col-md-4 col-md-offset-4">
                                      <a class="btn btn-block btn-success text-center text-uppercase" style="color: white; font-weight: bold" (click)="sendMessage()"> Send Message</a>
                                     </div>

                                 </div>
                                 
                              </form>
                        </div>
                      </div>
                      <div *ngIf="created" class="alert alert-success text-center">
                         <strong >Thank you ! message has been sent, we'll get back to you as soon as possible . </strong>
                     </div>
                    </div>
                    <!-- contact-us button -->
                    <!-- button ends -->
                  </div>
                </div>
                <!-- info ends -->
          </div>
      </div>
</section>