<!-- <app-breadcrumbs></app-breadcrumbs>   -->
    <section>
        <div class="container">      
          <div class="row">
            <!-- <app-product-category></app-product-category> -->
                  <div class="col-xs-12 col-sm-8 col-lg-8 col-offset-2">                   
                                            
                        <div class="row media thankyou">
                               <!-- shipping info -->
                               <div class="col-xs-12 col-sm-12">
                                  <h3 class="text-center text-uppercase"> Congratulations .</h3>  
                                  <h4 class="text-center text-uppercase"> your order has been successfully placed .</h4>  
                                  <h5 class="text-center text-uppercase"> we hope you enjoyed Trading with us .</h5>
                                  <h5 class="text-center text-uppercase"> we'll contact you.</h5>
                                  <h5 class="text-center text-uppercase">Thank you .</h5>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-4 col-offset-4">
                                <a  class="btn btn-block btn-warning text-uppercase" routerLink = '/'>Buy More Products ...</a>
                              </div>

                             
                        </div>
                       
                       
                  </div>
            </div>
          </div>
        </section>
                      
