<ng-container *ngIf = "hasLoggedIn">
</ng-container>
    <section *ngIf = "hasLoggedIn">
        <div class="container">      
          <div class="row">
              
            <!-- <app-product-category></app-product-category> -->
            <div class="col-xs-12 col-sm-8 col-lg-8 col-md-offset-2">
                    <h2 class="text-center text-uppercase">Order(s) History</h2>
                      <div *ngIf="noOrder" class="alert alert-danger">
                            <strong>OOPS ! No Previous Order(s). </strong>
                        </div>
                        <a *ngIf="noOrder" class="btn btn-block btn-warning" routerLink = '/'>Buy Now</a>                      
                    <div class="row media"  *ngFor ="let order of ordersInHistory" >
                      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <!-- items in cart -->
                        <figure>
                           <!-- <a><img src = "{{order.thumbnail_img}}" class="image-style"></a>  -->
                        </figure>
                        <!-- items in cart end -->
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 info">
                          <!-- items in cart -->
                          <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase">Name</h5></div>
                          <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase">Price</h5></div>
                          <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase ">Qty</h5></div>
                          <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase">Ordered On</h5></div>        
                          <!-- items in cart end -->
                      </div>
                         <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 info">
                            <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase">{{order?.cat_title}} Samsung Galaxy</h5></div>
                            <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase">{{order?.price}} 19000</h5></div>
                            <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase">{{order?.quantity}} 1</h5></div>
                            <div class="col-xs-12 col-sm-12 col-md-3"><h5 class="text-uppercase">{{order?.time}}22 Sept 2020</h5></div>        
                        </div>
                    </div>
                 </div>                
                <div class="clearfix"></div>
           </div>
          
       </div>
   </section>

<!-- <section *ngIf = "!hasLoggedIn">
      <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-lg-12">
            <h2 class="text-center notfound"> 404 NOT FOUND </h2>
            <h3 class="text-center">There is nothing in this page.</h3>
          </div>
    
          <div class="col-xs-12 col-sm-12 col-lg-12 text-center">
           <a class="btn btn-warning text-center" routerLink = '/'> <span class="glyphicon glyphicon-home goHome"> GO HOME</span></a>
          </div>
    
        </div>
      </div>
</section> -->


<div class="container">
  <article class="card">
      <header class="card-header"> My Orders / History</header>
      <div class="card-body">
          <h6>Order ID: OD45345345435</h6>
              <div class="card-body row">
                  <div class="col-md-2"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>
                  <div class="col-md-3"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                  <div class="col-md-3"> <strong>Status:</strong> <br> Picked by the courier </div>
                  <div class="col-md-4"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
              </div>
          <div class="track">
              <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
              <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
              <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
              <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
          </div>
          <hr>
         
          <hr>
          <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
      </div>
  </article>
</div>