.porductHolder
{
    margin-top: 1em;
}

.mmodal-dialog
{
    margin: 0 auto;
    .close{
        border: 1px solid red;
    }
   
}
.stock
{
    color: green;
    text-decoration: underline;
}


.info
{
    padding-bottom: 2em;
}

.btn-block, .btn-block i
{

    font-weight: bold;
}

.padding-bottom
{
    padding-bottom: 1.5em;
}

.padding-top
{
    padding-top: 1em;
}

.select
{
    padding-bottom: 1em;
}

.fa-truck, .truck
{
    color: green;
}
.name
{
    padding-top: 1em;
}

.tab-content
{
    border: 1px solid #281cca;
    padding: 0.5em;
}

img{
    max-height: 80vh;
}

.recom{
  margin-top: 1%!important;
}
.bg-bg{
    background-color: #7909f7;
}
.bgr{
    background-color: cornsilk;
}